:root {
  --var-colorBackground: red;
  --var-colorFont: red;
  --var-colorOne: #640404;
  --var-colorTwo: #ff4242;
  --var-colorThree: #640101;
  --var-colorFour: #b90606;
  --var-colorFive: #610303;
  --var-colorSix: #a51501;
  --var-colorSeven: #970303;
  --var-colorEight: #700606;
}

.h2title-game {
  background-color: var(--var-colorTwo);
  text-align: center;
  margin: 15px 45px 0 45px;
  font-size: 50px;
}
.h3__incognita-conteiner {
  text-align: center;
  color: var(--var-colorFive);
}
.h3__intentos-conteiner {
  text-align: center;
  color: var(--var-colorFont);
  background-color: var(--var-colorOne);
  margin: 10px auto;
  padding: 10px 0;
  width: 200px;
}
.mensaje {
  text-align: center;
  color: var(--var-colorTwo);
}

.div__img-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.colgado-image {
  width: 250px;
  height: auto;
  border: 3px solid var(--var-colorTwo);
  border-radius: 5%;
}

