body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.principal {
    display: flex;
    justify-content: center;
    align-content: center;

}

.imagen {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {

    color: brown;

}

.botonColaboradores {
    display: flex;
    justify-content: center;
    align-content: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 50px;
    text-decoration: none;
}

.botonJugar {

    display: flex;
    justify-content: center;
    align-content: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 50px;
    text-decoration: none;
}
.ImagenColaborador{
    height: 300px;
    width: 300px;
    }
    .Descripcion{
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
    }
    .Parrafo{
      color:brown;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .ahorcado{
        text-align: center;
    }
    main{
        width: 80%;
        margin: auto;
        padding: 20px;
        display: flex;
    }
    .imagenA{
        width: 200px;
        gap:30px;

    }

    #palabra_a_adivinar{
        height: 3em;
    }

    #palabra_a_adivinar span{
        vertical-align: bottom;
        font-size: 2em ;
        border-bottom: 2px solid black;
        width: 30px;
        text-align: center;
        margin-right: 6px;
        display: inline-block; /*sin esto, por ser un elemento de linea, no tomaria el ancho*/
    }
    #letras{
        margin-top: 30px;
        display: flex;
        gap: 7px;
        flex-wrap: wrap;
    }
    #letras button{
        width: 29px;
        padding: 6px 0;
        text-align: center;

    }
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
          "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
          monospace;
      }
      